div.card {
  cursor: pointer;
  aspect-ratio: 2.5 / 3.5;
  width: 10.75rem;
  perspective: 1000px;
  filter: drop-shadow(0 0 7px rgba(0,0,0,0.3));

  /* outline is a little trick to anti-alias */
  outline: 1px solid transparent;
  transform-style: preserve-3d;
}

.card,
.card-inner,
.card-front,
.card-back,
.glare {
  border-radius: 12px;
}

/* container to position front and back sides */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 600ms ease-out;
  transform-style: preserve-3d;
}

/* flip horizontally on useEffect */
.card.flip .card-inner {
  transform: rotateY(180deg);
}

/* position front and back sides */
.card-front,
.card-back,
.glare {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* safari */
  backface-visibility: hidden;
}

.card-front {
  border: var(--card-border);

  display: grid;
  place-content: center;
  gap: 0.8rem;
  padding: 0.6rem;
  transform: rotateY(0deg);
}

.card-front img {
  width: 9rem;
}

.card-front .name {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.card-back {
  background-image: url("../assets/pokemon-card-backside.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #192653;
  border: 0.9rem solid #192653;
  transform: rotateY(180deg);
}

.glare {
  opacity: 0;
}
