:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* background-color: #; */
  --shadow-1: 0 0 5px rgba(0,0,0,0.2);
  --shadow-2: 0 0 12px rgba(0,0,0,0.25);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --transition: all 200ms ease-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--transition);
}

body {
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
}

ul {
  list-style-type: none;
}
