/* gill sans typeface */
@import url("https://use.typekit.net/pfv7upp.css");
/* roboto typeface */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  color: var(--gray-950);
  --font-stack: "Helvetica", "Arial", sans-serif;
  font-family: "gill-sans-nova", "Roboto", var(--font-stack);
  font-style: normal;
  line-height: 1.3;
  font-weight: 500;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --gray-900: #111827;
  --gray-950: #030712;
  --border-color: #ffcb05;
  --card-border: 0.9rem solid var(--border-color);
  --grad-background: /* sky */
    linear-gradient(217deg, #0369a1, transparent 61%), /* 700 */
    linear-gradient(127deg, #38bdf8, transparent 61%), /* 400 */
    linear-gradient(336deg, #bae6fd, transparent 61%), /* 200 */
    #7dd3fc; /* 300 */
  --shadow-1: 0 0 5px rgba(0,0,0,0.2);
  --shadow-2: 0 0 12px rgba(0,0,0,0.25);
  --transition: all 200ms ease-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--transition);
}

body {
  height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
}

h2 {
  font-size: 1.4rem;
}

ul {
  list-style-type: none;
}

@media (max-width: 500px) {
  :root {
    --card-border: 0.83rem solid var(--border-color);
  }

  #root {
    --padding-width: 1.1rem;
    padding-top: 0.9rem;
  }

  /* header */
  button.logo {
    width: 164px;
    height: 89px;
  }

  div.logo-wrapper {
    transform: scale(0.75);
  }

  button.logo {
    left: -2px;
  }

  .logo img {
    left: -4px;
    top: -4px;
  }

  div.scoreboard {
    padding: 0.7rem 1rem 0.9rem;
  }

  div.scoreboard h2 {
    font-size: 1.2rem;
  }

  /* footer */
  footer {
    bottom: 1.1rem;
  }
  
  /* main */
  main {
    gap: 1.1rem;
  }

  div.card {
    width: 10rem;
  }

  .card img {
    width: 8.2rem;
  }

  .card-front .name {
    font-size: 1.1rem;
  }
}

@media (min-width: 1500px) {
  :root {
    --card-border: 1rem solid var(--border-color);
  }

  main {
    max-width: 1410px;
    gap: 1.72rem;
  }

  div.card {
    width: 13.25rem;
  }

  .card img {
    width: 11.01rem;
  }

  .card-front .name {
    font-size: 1.34rem;
  }
}
